
$bgblue: #d9f3f5;

html {
    background: white;
        font-size: 100%;
}
.container {
    box-sizing: border-box;
    margin: 64px;
}
#elements__headings {
    margin: 32px 0;
    font-size: 2em;
}