$wit: rgb(255,255,255);
$blauw: rgb(7,31,134);
$zwart: rgb(25,25,25);

$globalmargin: 24px;


$zdf: url(/images/brands/brands_zdf.svg);
$ee: url(/images/brands/brands_ee.svg);
$rvs: url(/images/brands/brands_rvs.svg);
$ymere: url(/images/brands/brands_ymere.svg);
$nrc: url(/images/brands/brands_nrc.svg);
$nul75: url(/images/brands/brands_075.svg);

